<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>会员显示</title>
<link rel="stylesheet" href="../static/layui/css/layui.css"
	th:href="@{/layui/css/layui.css}" />
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script type="text/javascript" src="../static/layui/jquery.min.js"
	th:src="@{/layui/jquery.min.js}"></script>
</head>

<body>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">订单号</label>
			<div class="layui-input-inline" style="width: 150px;">
				<input type="text" id="search_username" autocomplete="off"
					class="layui-input">
			</div>
			<div class="layui-inline">
				<button class="layui-btn layui-btns layui-btn-normal"
					id="search_btn">模糊查询</button>
			</div>
		</div>
		<div class="layui-inline">
		<label class="layui-form-label">寄件人手机</label>
			<div class="layui-input-inline" style="width: 100px;">
				<input type="text" id="search_name" autocomplete="off"
					class="layui-input">
			</div>
			<div class="layui-inline">
				<button class="layui-btn layui-btns layui-btn-normal"
					id="search_btn">查询</button>
			</div>
		</div>
		<div class="layui-inline">
		<label class="layui-form-label">收件人手机</label>
			<div class="layui-input-inline" style="width: 100px;">
				<input type="text" id="search_name" autocomplete="off"
					class="layui-input">
			</div>
			<div class="layui-inline">
				<button class="layui-btn layui-btns layui-btn-normal"
					id="search_btn">查询</button>
			</div>
		</div>
	</div>
	<table class="layui-hide" id="member-tab" lay-filter="member-tab"></table>

	<script type="text/html" id="toolbarDemo">
			<div class="layui-btn-container">
				<!-- 添加按钮 -->
				<a class="layui-btn layui-btn-sm" id="add-member_btn" lay-event="memberAdd_btn">添加会员</a>
				<a class="layui-btn layui-btn-sm" id="deleteMore_btn" lay-event="deleteMore_btn">批量删除会员</a>
				<button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
				<button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
				<button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
			</div>
		</script>
	<script type="text/html" id="barDemo">
			<a class="layui-btn layui-btn-xs" lay-event="updateMember">编辑</a>
			<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="deleteMember">删除</a>
		</script>

	<!-- 添加会员弹出层 -->
	<div id="member-layer" style="display: none; padding: 20px">
		<form id="member-form" class="layui-form layui-form-pane"
			lay-filter="member-form">
			<input type="hidden" name="memberId" class="layui-input" /> <input
				type="hidden" name="memberAddress" class="layui-input" />
			<div class="layui-form-item">
				<label class="layui-form-label">会员姓名</label>
				<div class="layui-input-block">
					<input type="text" name="memberName" class="layui-input"
						lay-verify="required" autocomplete="off" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">用户名</label>
				<div class="layui-input-block">
					<input type="text" name="memberUsername" class="layui-input"
						lay-verify="required" autocomplete="off" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">会员密码</label>
				<div class="layui-input-block">
					<input type="password" name="memberPassword" class="layui-input"
						lay-verify="required" autocomplete="off" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">联系方式</label>
				<div class="layui-input-block">
					<input type="text" name="memberPhone" class="layui-input"
						lay-verify="required" autocomplete="off" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">会员地址</label>
				<div class="layui-input-block">
					<div class="layui-col-sm4">
						<div class="layui-inline layui-select-default"
							style="width: 110px;">
							<select name="province" data-area="选择省" lay-filter="province">
								<option value="">选择省</option>
							</select>
						</div>
					</div>
					<div class="layui-col-sm4">
						<div class="layui-inline layui-select-default"
							style="width: 110px;">
							<select name="city" data-area="广州市" lay-filter="city">
								<option value="">选择市</option>
							</select>
						</div>
					</div>
					<div class="layui-col-sm4">
						<div class="layui-inline layui-select-default"
							style="width: 110px;">
							<select name="district" data-area="天河区" lay-filter="district">
								<option value="">选择区</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-input-block">
					<button class="layui-btn" lay-submit=""
						lay-filter="meber-form-submit">提交</button>
					<button type="reset" class="layui-btn layui-btn-primary">重置</button>
				</div>
			</div>
		</form>
	</div>
	<script type="text/javascript" src="../static/layui/layui.js"
		th:src="@{/layui/layui.js}"></script>
	<script type="text/javascript" src="../static/picker/city-picker.js"
		th:src="@{/picker/city-picker.js}"></script>
	<script type="text/javascript" src="../static/js/member.js"
		th:src="@{/js/member.js}"></script>
</body>

</html>